aiofiles==0.6.0
aiosqlite==0.16.0
Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
daq==0.4.2
dash==1.12.0
dash-core-components==1.10.0
dash-daq==0.5.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
dashboard==0.0.6
databases==0.4.1
dcc==0.1.0
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
h11==0.12.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
nltk==3.5
numpy==1.19.4
orm==0.2.0.dev1
pandas==1.2.0
Pillow==8.1.0
plotly==4.2.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2020.5
regex==2020.11.13
requests==2.25.1
retrying==1.3.3
scipy==1.6.0
seaborn==0.11.1
six==1.15.0
SQLAlchemy==1.3.22
starlette==0.14.1
tqdm==4.55.1
typesystem==0.3.0.dev0
typing-extensions==3.7.4.3
urllib3==1.26.2
uvicorn==0.13.3
Werkzeug==1.0.1
